.idea
.DS_Store
*.log
npm-debug.log*
yarn-error.log*
coverage
.cache-loader/*
stats/*
stats.json
old/*
docker-compose.yml
prisma/migrations/*
**/tsconfig.tsbuildinfo
.nexus
dist/*
**/dist/*
public/dist/*
config/dist/*
.env
node_modules
